.App {
    display: flex;
    justify-content: center;
}

.counter {
    text-align: center;
    width: 200px;
    border: 2px black solid;
    border-radius: 5px;
}

.redText {
    color: red;
    font-weight: bold;
}

.params {
    display: flex;
    flex-direction: column;
    text-align: center;
}

p {
    margin: 0;
}

.errorBlock {
    outline: red 2px solid;
}

button {
    margin-top: 2px;
}